{% extends 'base.html.twig' %}

{% block title %}BDE SUPINFO CAEN - Accueil{% endblock %}

{% block carousel %}

        <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/carousel/">
   <!-- Custom styles for this template -->
    <link href="carousel.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }
    </style>
  {# </head>
  <body> #}

<main>

  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="bd-placeholder-img" width="100%" height="100%" src="https://media.discordapp.net/attachments/1034069141075808266/1034073114797150218/1656309536601cropped_1300.jpg?width=1072&height=335">

        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Inscris-toi.</h1>
            <p>Inscris-toi sur notre plateforme pour être informé de toutes les prochaines actualités du BDE.</p>
            <p><a class="btn btn-lg btn-primary" href="register">S'inscrire</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img class="bd-placeholder-img" width="100%" height="100%" src="https://media.discordapp.net/attachments/1034069141075808266/1034069789217394698/1656309758039_cropped_1300.jpg?width=1072&height=335">

        <div class="container">
          <div class="carousel-caption">
            <h1>Nous contacter</h1>
            <p>Contactez-nous par mail ou directement sur notre site pour toutes demandes d'informations ou partenariats.</p>
            <p><a class="btn btn-lg btn-primary" href="contact">Contact</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img class="bd-placeholder-img" width="100%" height="100%" src="https://media.discordapp.net/attachments/1034069141075808266/1034073699197915156/Laser_Game_Discord_cropped1300.jpg?width=1072&height=335">


        <div class="container">
          <div class="carousel-caption text-end">
            <h1>Lazer Game.</h1>
            <p>Découvrez notre article sur les étudiants de Caen au Lazer Game. Événement organisé par le BDE.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Accéder à l'article</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    <!-- START THE FEATURETTES -->

    <br><br>

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Le bureau des étudiants, <span class="text-muted">c'est quoi ?</span></h2>
        <p class="lead">Bienvenue sur le site du BDE de SUPINFO Caen ! 
        C’est ici que tu retrouveras toutes les activités du BDE.<br>
        Nous sommes une association qui regroupe plusieurs étudiants du campus. <br>
        Nous organisons des activités extra-scolaires, notamment des évènements.
        Notre rôle est de vous représenter et de vous proposer la meilleure qualité de vie possible en tant qu'étudiant.  
        </p>
      </div>
      <div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="https://media.discordapp.net/attachments/1034069141075808266/1034089807107850260/IMG_0334.jpg?width=733&height=610">

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">Notre rôle <span class="text-muted">pour les étudiants.</span></h2>
        <p class="lead">Notre rôle au sein de SUPINFO, c’est que tu te sentes bien durant tes études. 
        <br>C’est pour cela, que tout au long de l’année, nous nous occupons d’organiser et de gérer la vie étudiante.
        Nous t'aidons a garder la pêche et la motivation.<br> 
        Nous sommes présents à tes côtés pour te faire vivre des années inoubliables ! 
        Entre les évènements organisés sur le campus, les soirées étudiantes, les LAMALANS et j’en passe… Je peux te garantir que tu vas pouvoir en vivre des aventures à SUPINFO !</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="https://media.discordapp.net/attachments/774340712585625603/995460120471425114/10356012_10152512730906313_6970276298985246479_n.jpg?width=813&height=610">

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Rejoindre <span class="text-muted">l'association.</span></h2>
        <p class="lead">En tant qu'étudiant sur le campus de Caen, tu peux rejoindre le bureau des étudiants. Pour cela prends contact avec nous !<br><br>
        Missions :<br>
        - Organisation de la vie étudiante sur le campus<br>
        - Organisation d'événements<br>
        - Gestion des partenariats<br>
        - Gestion financière du bureau<br>
        - Rédaction d'articles et communication interne<br>
        - Having fun<br>
        </p>
      </div>
      <div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="https://media.discordapp.net/attachments/908699568361852981/990861198566228008/1656309536460.jpg?width=813&height=610">

      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->

</main>


{# <script src="../assets/dist/js/bootstrap.bundle.min.js"></script> #}
{% endblock %}
